body{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: gray;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
    width: 400px;
    height: 50px;
    gap:5px
    
}
.displayer{
    border-radius: 5px;
    color: black;
    background-color: white;
    text-align: end;
    height:55px;
    width: 400px;
    font-size: 30px;
}
.btn{
    color: rgb(197, 129, 50);
    font-size: 20px;
    flex: 1;
}